<div class="container">
    <div class="d-flex justify-content-center h100">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group">
                        <div class="input-group-text">
                            Username
                        </div>
                        <input type="text" class="form-control">
                        <div class="input-group-text">
                            Password
                        </div>
                        <input type="password" class="form-control">
                        <div class="form-group">
                            <input value="submit" type="text" class="btn float-right login_btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
